---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Article from "@/components/Article.astro";

const posts = (await getCollection("blog"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<MainLayout title="Gustipardo Blog">
	<section
		class="flex flex-col md:flex-row items-center max-w-[800px] mx-auto px-4 py-8"
		aria-label="About Me"
	>
		<Image
			src="/assets/myheadshot2_crop.webp"
			alt="My headshot"
			width="200"
			height="330"
			class="w-48 h-64 rounded-full object-cover shadow-lg"
		/>
		<div class="content md:ml-8 text-center md:text-left">
			<h1 class="text-3xl font-bold">Mi Blog Personal</h1>
			<p class="text-gray-700 mt-2 mb-4">
				Mi nombre Gustavo Martin Alvarez y en este blog guardo cada
				aspecto relevante de mi existencia; mis pensamientos, logros y
				experiencias.
			</p>
			<!-- 			<a
				href="/about/"
				class="bg-orange-500 text-white font-semibold py-2 px-4 rounded hover:bg-orange-600 transition duration-200"
			>
				👋 About Me
			</a> -->
		</div>
	</section>

	<section aria-label="Recent Posts" class="max-w-[800px] mx-auto mt-8 px-4">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
			{posts.map((post) => <Article {...post.data} slug={post.slug} />)}
		</div>
	</section>
</MainLayout>
